.productList {
  .img-product img {
    width: 100%;
  }
  .title {
    color: #79043c;
  }
  .btn-addToCart {
    width: 100%;
    border: none;
    background-color: #79043c;
  }
  .btn-addToCart:hover {
    background-color: #f8e9f0;
    color: #79043c !important;
  }
  .link {
    text-decoration: none;
  }
}
