.sidebarProducts {
  background-color: #79043c;
  padding: 2rem 1rem;
  .title {
    font-size: 18px;
  }
  .input {
    font-size: 15px;
    outline: none;
  }
  .category {
    border: 1px solid #79043c;
    font-size: 15px;
    outline: none;
  }
}
